@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "mainLayout.cshtml";

    ViewBag.Title = Model.Value("pageTitle") ?? null;

    var heroBackgroundImage = Model?.Value<IPublishedContent>("heroBackgroundImage")?.Url() ?? "";
}


<!-- Hero -->
<section id="hero">
    <img src="@heroBackgroundImage" alt="">
    <div class="container">
        <div class="content">
            <h1>@Model?.Value("heroTitle")</h1>
            <p>@Model?.Value("heroText")</p>
            <a href="@Model?.Value("heroButtonUrl")">
                <button>@Model?.Value("heroButtonText")</button>
            </a>
        </div>
    </div>
</section>